:root {
    /* Кольори макету */
    /* Текст */
    --colorTextTitle: #212121;
    --colorText: #757575;
    --colorTextContrast: #fff;
    --colorTextAdd: rgba(255, 255, 255, 0.6);
    --colorHover: rgb(209, 160, 0);
    /* Фон */
    --colorBackgroundPrimary: #1d1b1b;
    --colorBackgroundSecondary: #f5f4fa;
    --colorSVG: #AFB1B8;
  }