.info-item:nth-child(1){
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 700;
      color: var(--colorTextContrast);
      margin-bottom: 20px;
      display: flex;
      flex-direction: row;
      gap: 7px;

      .footer-icon{
        width: 18px;
        height: 18px;
        fill: var(--colorHover);
      }
}
.info-item{
    color: var(--colorTextContrast);
}
  
  
 
  