@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input {
  border: none;
  outline: none;
}

ol,
ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
  cursor: text;
  background-color: field;
}

:root {
  /* Кольори макету */
  /* Текст */
  --colorTextTitle: #212121;
  --colorText: #757575;
  --colorTextContrast: #fff;
  --colorTextAdd: rgba(255, 255, 255, 0.6);
  --colorHover: rgb(209, 160, 0);
  /* Фон */
  --colorBackgroundPrimary: #1d1b1b;
  --colorBackgroundSecondary: #f5f4fa;
  --colorSVG: #AFB1B8;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  color: var(--colorTextTitle);
  line-height: 1.714;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
  min-height: 70px;
  font-family: "New Amsterdam", sans-serif;
}

.header-logo {
  max-width: 9vw;
  height: auto;
  fill: aliceblue;
  flex-shrink: 0;
}

.header-nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  flex-wrap: wrap;
}

.nav-link {
  letter-spacing: 1.5px;
  position: relative;
  transition: color 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 8px;
}

.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--colorHover);
  left: 0;
  bottom: -21px;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.25s, opacity 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  transform: scaleX(1);
  opacity: 1;
}

.nav-link-active::after {
  transform: scaleX(1);
  opacity: 1;
}

.header-button {
  text-align: center;
  border: 2px solid #000000;
  background-color: #ffffff;
  padding: 7px 60px;
  font-weight: 400;
  text-transform: uppercase;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.header-button:hover {
  background-color: #000000;
  border: 2px solid #ffffff;
  color: #ffffff;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 1400px) {
  .header-container {
    gap: 1vw;
    min-height: 70px;
  }
  .nav-link::after {
    bottom: -4px;
  }
}
@media (max-width: 1024px) {
  .header-container {
    gap: 1vw;
    min-height: 70px;
  }
  .nav-link::after {
    bottom: 0px;
  }
}
@media (max-width: 768px) {
  .header-container {
    min-height: 70px;
    gap: 0.5vw;
  }
  .header-logo {
    min-height: 90px;
    min-width: 90px;
  }
  .nav-list {
    gap: 1.5vw;
  }
  .nav-link::after {
    bottom: 0;
  }
}
@media (max-width: 600px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    min-height: 70px;
  }
  .header-logo {
    max-width: 20vw;
    min-height: 70px;
  }
  .header-nav {
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  .header-contact {
    justify-content: center;
    gap: 1rem;
  }
}
.hero {
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero-video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.hero-title {
  line-height: 1.363;
  letter-spacing: 3px;
  font-size: 50px;
  color: var(--colorTextContrast);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-family: "New Amsterdam", sans-serif;
}

.creeping-line {
  padding: 5px 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: rgb(255, 89, 0);
  color: aliceblue;
  white-space: nowrap;
}

.creeping-line div {
  display: flex;
  gap: 5px;
  animation: marquee-text 10s linear infinite;
}

.creeping-title {
  white-space: nowrap;
}

@keyframes marquee-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.catalog {
  padding-top: 32px;
  padding-bottom: 32px;
  background: rgb(93, 11, 149);
  background: linear-gradient(90deg, rgba(93, 11, 149, 0.7792366947) 0%, rgb(199, 88, 88) 50%, rgba(139, 85, 8, 0.9108893557) 100%);
}

.catalog__heading {
  margin-top: 0;
  margin-bottom: 16px;
  color: #fff;
}

.grid {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -16px;
  margin-top: 0;
}

.grid__item {
  flex-basis: calc(33.3333333333% - 16px);
  min-width: 240px;
  margin-right: 8px;
  margin-left: 8px;
  margin-bottom: 16px;
}

.product {
  position: relative;
  padding: 16px;
  border-radius: 4px;
  background-color: #ececec;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.product__name {
  margin-top: 0;
  margin-bottom: 8px;
}

.product__price {
  margin: 0;
}

.product__button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.button {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.button__icon {
  display: inline-flex;
}

.button__icon--start {
  margin-right: 10px;
}

.button__icon--end {
  margin-left: 10px;
}

.reviews, .contact, .wholesale {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(93, 11, 149);
  background: linear-gradient(90deg, rgba(93, 11, 149, 0.7792366947) 0%, rgb(199, 88, 88) 50%, rgba(139, 85, 8, 0.9108893557) 100%);
}
.reviews h2, .contact h2, .wholesale h2 {
  margin: 500px auto;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}

footer {
  background-color: var(--colorBackgroundPrimary);
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 14px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.footer-logo {
  max-width: 200px;
  max-height: 200px;
  filter: drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.3));
}

.konto-mastercard {
  bottom: -30px;
  left: 410px;
  width: 80px;
  height: 80px;
}

.konto-blik {
  bottom: -20px;
  left: 760px;
  width: 100px;
  height: 70px;
}

@media (max-width: 550px) {
  .footer-container {
    flex-direction: column;
  }
}
.info-item:nth-child(1) {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: var(--colorTextContrast);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}
.info-item:nth-child(1) .footer-icon {
  width: 18px;
  height: 18px;
  fill: var(--colorHover);
}

.info-item {
  color: var(--colorTextContrast);
}

.item-social_network-title {
  text-transform: uppercase;
  color: var(--colorTextContrast);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  fill: var(--colorTextContrast);
}
.footer-icons .footer-block-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(175, 177, 184, 0.1647058824);
  transition: background-color 0.25s, fill 0.25s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons .footer-block-icon:hover {
  background-color: var(--colorHover);
  border-radius: 50%;
}
.footer-icons .footer-block-icon .footer-icon {
  width: 20px;
  height: 20px;
}